footer {
    padding: 20px 0;
    background: #1c2023;
    
    .copyright {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-family: 'montserratregular';
        font-size: 15px;
        font-style: italic;
    }
}