header {
    background: red;
    min-height: 500px;
    padding: 60px 0;

    .logo-wrap {
        width: 60px;
        text-align: center;
        margin: 0 auto;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .post-wrap {
        padding-top: 90px;

        .post-wrap--title {
            font-size: 3.4375em;
            font-family: 'lorabold';
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-style: italic;
            line-height: 27px;
            margin-bottom: 30px;
        }

        .post-wrap--excerpt {
            font-size: 1em;
            font-family: 'montserratlight';
            color: #fff;
            text-align: center;
            max-width: 994px;
            margin: 0 auto 25px;
            font-style: italic;
            line-height: 23px;
        }

        .post-wrap--meta {
            font-size: 10px;
            font-family: 'montserratregular';
            color: #fff;
            text-align: center;
            font-style: italic;
            line-height: 23px;
            text-transform: uppercase;
            margin-bottom: 60px;

            span {
                margin: 0 15px;
            }

        }
    }
}