header {
    min-height: 500px;
    padding: 30px 0;
    position: relative;
    overflow: hidden;

    // Overlay background 
    .overlay-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35);
        z-index: 0;
    }

    // Canvas button
    .canvas-btn {
        width: 25px;
        height: 25px;
        margin-top: 22px;
        cursor: pointer;

        div {
            width: 20px;
            height: 2px;
            background: #fff;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }



    //  Logo
    .logo-wrap {
        width: 60px;
        text-align: center;
        margin: 0 auto;

        a {
            display: inline-block;
            
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }


    // Main post in header

    .main-post {
        position: relative;
        z-index: 1;
    }

    .post-wrap {
        padding-top: 90px;

        .wp-post-image {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: auto;
            height: 100%;
            z-index: -2;

            @media only screen and (min-width: 1076px) {
                width: 100%;
                height: auto;
            }
        }

        .post-wrap--title {
            font-size: 3.3125em;
            font-family: 'lorabold';
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-style: italic;
            line-height: 57px;
            margin-bottom: 30px;

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        .post-wrap--excerpt {
            font-size: 0.9375em;
            font-family: 'montserratlight';
            color: #fff;
            text-align: center;
            max-width: 940px;
            margin: 0 auto 25px;
            font-style: italic;
            line-height: 23px;
        }

        .post-wrap--meta {
            font-size: 10px;
            font-family: 'montserratregular';
            color: #fff;
            text-align: center;
            font-style: italic;
            line-height: 23px;
            text-transform: uppercase;
            margin-bottom: 60px;

            span {
                margin: 0 15px;
            }

        }

        .post-wrap--read-wrap {
            text-align: center;
            margin-bottom: 50px;

            .post-wrap--read-link {
                display: inline-block;
                padding: 14px 60px;
                border: 1px solid #fff;
                font-size: 1.0625em;
                font-family: 'montserratregular';
                color: #fff;
                font-style: italic;
                text-decoration: none; 
                text-transform: uppercase; 
                @include transition(0.2s);


                &:hover {
                    background: #fff;
                    color: #000;
                    text-shadow: 0 0 6px rgba(255, 255, 255, 0.75);
                }
            }
        }
    }
}

// Canvas menu
.canvas-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding-top: 200px;
    padding-right: 100px;
    @include transition(0.3s);
    z-index: 1000;
    background: #1c2023;

    .close-btn {
        position: absolute;
        right: 100px;
        top: 100px;
        width: 30px;
        height: 30px;
        color: #fff;
        text-align: right;
        font-size: 22px;
        cursor: pointer;
    }

    .back-btn {
        display: none;
        position: absolute;
        top: 100px;
        left: 30px;
        color: #fff;
        cursor: pointer;
        font-size: 22px;
    }

    ul {
        li {
            margin-bottom: 50px;
            text-align: right;
            position: relative;

            a, span {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                font-size: 22px;
                padding-top: 10px;
                font-family: 'montserratregular';
                @include transition(0.3s);
                cursor: pointer;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0;
                    height: 2px;
                    background: #fff;
                    @include transition(0.15s);
                }

                &:hover:after {
                    width: 100%;
                }
            }

            .icon {
                position: absolute;
                top: 10px;
                right: -43px;
                height: 22px;
                font-size: 18px;
                color: #fff;
                @include transition(0.3s);
                transform-origin: 50% 50%;
                transform: rotate(0);
            }

            .dropdown-submenu {
                display: none;
            }

            &.open {

                a, span {
                    &:after {
                        width: 100%;
                    }
                }

                .icon {
                    transform: rotate(90deg);
                }

                .dropdown-submenu {
                    display: block;
                    margin-top: 40px;

                    li {
                        margin-bottom: 20px;
                        color: #fff;
                        font-size: 20px;
                        font-family: 'montserratlight';

                        a, span {
                            font-family: 'montserratlight';

                            &:after {
                                display: none;
                            }
                        }
                    }
                }

                
            }
        }
    }

    &.open {
        left: 0;
    }
}

.canvas-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    display: none;
    @include transition(0.3s);

    &.open {
        display: block;
    }
}




body {
    overflow: initial;

    &.nav-open {
        overflow: hidden;
    }
}