#content {
    .posts-wrap {
        .container-fluid {

            .row {

                .post-image {
                    height: 500px;
                    padding-left: 0;
                    padding-right: 0;
                    overflow: hidden;

                    .post-image--link {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;

                        img {
                            display: block;
                            width: auto;
                            height: 100%;
                            transform: scale(1, 1);
                            @include transition(0.5s);
                        }

                        &:hover {
                            img {
                                transform: scale(1.1, 1.1);
                            }
                        }
                    }

                }

                .post-details-wrap {
                    height: 500px;
                    padding: 120px 0;
                    background: #1c2023;
                    
                    .post-details-wrap--title {
                        font-size: 1.625em;
                        font-family: 'loraregular';
                        color: #fff;
                        text-align: center;
                        text-transform: uppercase;
                        max-width: 490px;
                        margin: 0 auto 20px;
                        font-style: italic;

                        a {
                            text-decoration: none;
                            color: #fff;
                        }

                        @media only screen and (max-width: 768px) {
                            font-size: 22px;
                        }
                    }

                    .post-details-wrap--excerpt {
                        font-size: 15px;
                        font-family: 'montserratregular';
                        color: #fff;
                        text-align: center;
                        max-width: 490px;
                        margin: 0 auto 25px;
                        font-style: italic;
                        line-height: 23px;

                        @media only screen and (max-width: 768px) {
                            font-size: 13px;
                        }
                    }

                    .post-details-wrap--meta {
                        font-size: 12px;
                        font-family: 'montserratregular';
                        color: #fff;
                        text-align: center;
                        font-style: italic;
                        line-height: 23px;
                        text-transform: uppercase;
                        margin-bottom: 60px;

                        span {
                            margin: 0 15px;

                            @media only screen and (max-width: 768px) {
                                margin: 0 5px;
                            }
                        }

                        @media only screen and (max-width: 768px) {
                            margin-bottom: 25px;
                        }
                    }

                    .post-details-wrap--read-wrap {
                        text-align: center;
            
                        .post-details-wrap--read-link {
                            display: inline-block;
                            padding: 14px 60px;
                            border: 1px solid #fff;
                            font-size: 1.0625em;
                            font-family: 'montserratregular';
                            color: #fff;
                            font-style: italic;
                            text-decoration: none; 
                            text-transform: uppercase; 
                            @include transition(0.2s);


                            &:hover {
                                background: #fff;
                                color: #000;
                                text-shadow: 0 0 6px rgba(255, 255, 255, 0.75);
                            }
                        }
                    }
                }

                
            }

            .row.right {
                .post-image {
                    float: right;
                }

                .post-details-wrap {
                    float: right;
                }

                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }

            
        }
    }

    .load-more-posts--wrap {
        padding: 60px 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        background: url('img/read-more.jpg') no-repeat center center;
        background-size: cover;
        position: relative;

        [class^='col-'] {
            position: static;
        }

        .load-more-posts--link {
            width: 100%;
            max-width: 440px;
            height: 66px;
            line-height: 68px;
            border: 1px solid #fff;
            text-align: center;
            margin: 0 auto;
            font-size: 1.0625em;
            font-family: 'montserratregular';
            color: #fff;
            font-style: italic;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            z-index: 2;
            @include transition(0.2s);

            &:hover {
                background: #fff;
                color: #000;
                text-shadow: 0 0 6px rgba(255, 255, 255, 0.75);
            }
        }

        .overlay-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.35);
            z-index: 1;
        }
    }

    .load-more-posts--link.no-more-posts {
        cursor: default;

        &:hover {
            background: transparent;
            color: #fff;
            border-color: #fff;
            text-shadow: none;
        }
    }

    

    .load-more-posts--link.loading {
        cursor: default;

        &:hover {
            background: #fff;
            border-color: #fff;
            text-shadow: none;
        }
    }
}